
.card_book{
  display: flex;

  flex-direction: column;

  background-color: $white;

  margin: 8px;

  text-align: center;

  @include desktop-biggerCW {
    height: 468px;
  }
  @include desktop-smallerCW{
    height: calc(25vw * 1.3);
  }
  @include tablet {
    height: calc(75vw / 2 * 1.3);
  }
  @include mobile {
    height: calc(75vw * 1.3);
  }

  @include darkmode{
    color: $white;
    background-color: gray-auto(-3);
  }

  .card_book-body {
    flex-grow: 1;

    overflow:hidden;

    img{
      width: 100%;
      height: 100%;

      object-fit: fill;
    }
  }
  .card_book-footer {
    display: flex;

    justify-content: center;

    button{
      flex-grow: 1;
    }
  }
}

.card_youtube{
  display: flex;

  flex-direction: column;

  background-color: $white;

  margin: 8px;
  padding : 0;

  text-align: center;

  @include darkmode{
    color: $white;
    background-color: gray-auto(-3);
  }

  @include desktop-biggerCW {
    height: 226px;
  }
  @include desktop-smallerCW{
    height: calc(25vw / 25 * 16);
  }
  @include tablet {
    height: calc(75vw / 50 * 16);
  }
  @include mobile {
    height: calc(75vw / 75 * 16);
  }

  .card_youtube-body{
    display: flex;

    height: 80%;

    overflow:hidden;

    img{
      width: 100%;

      justify-content: center;
      align-items: center;

      object-fit: cover;
    }
  }
  .card_youtube-footer{
    flex-grow: 1;

    display: flex;

    justify-content: center;

    background-color: $white;

    flex-grow: 0;
    height: 24px;

    @include darkmode{
      color: $white;
      background-color: gray-auto(-3);
    }
  }
}
